<div class="modal" id="build-entity" tabindex="-1" aria-labelledby="build-entityLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="build-entityLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>&nbsp;&nbsp;Fechar App</button>
            </div>
        </div>
    </div>
</div>

<script>

    var buildEntity = document.getElementById('build-entity')
    buildEntity.addEventListener('show.bs.modal', function (event) {

        // Button that triggered the modal
        var button = event.relatedTarget

        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')

        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.

        var modalTitle = buildEntity.querySelector('.modal-title')
        var modalBodyInput = buildEntity.querySelector('.modal-body input')

        modalTitle.textContent = 'New message to ' + recipient
        //modalBodyInput.value = recipient

    })

</script>