<div class="flex-column mt-3" id="entity-div" style="display: none;">
    <div class="alert alert-warning alert-dismissible show" role="alert">
        <strong><i class="bi bi-box"></i>&nbsp;&nbsp;Entidades</strong><small> : requer permissão
            [<strong>tools-dev-entity-create</strong>]</small>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div id="entity-div-create">
        <form class="form-group">
            
            <div class="alert alert-info alert-dismissible show" role="alert">
                <strong><i class="bi bi-box"></i>&nbsp;&nbsp;Nome</strong><small> : primário (<strong>único</strong>) em todo o sistema</small>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="mb-4" id="entity-div-input-name">
                <label for="entity-input-text-name" class="label mb-1 text-secondary"><i
                        class="bi bi-box"></i>&nbsp;Nome</label>
                <input type="text" class="form-control" id="entity-input-name" value="pessoa"
                    placeholder="// #issue: pesquisar no banco entidade com mesmo nome a partir do terceiro caracter digitado">
            </div>
            <div class="mb-4 " style="display: none;" id="entity-div-input-namespace">

                <div class="alert alert-info alert-dismissible show" role="alert">
                    <strong><i class="bi bi-tags"></i>&nbsp;&nbsp;Namespace</strong><small> : id[entidade], crdate e isactive são criados em todas as tabelas por padrão</small>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <label for="entity-namespace" class="label mb-1 text-secondary"><i class="bi bi-tags"></i>&nbsp;Namespace</label>
                <textarea class="form-control" style="height: 5rem;" id="entity-input-namespace"
                    placeholder="// #issue: analisar o namespace de todo sistema">
nome, email, celular, senha</textarea>
            </div>

            <div class="mb-4" style="display: none;" id="entity-div-input-fields">

                <div class="alert alert-info alert-dismissible show" role="alert">
                    <strong><i class="bi bi-server"></i>&nbsp;&nbsp;Table</strong><small> : configura a privacidade, tipo, tamanho e Null: o campo não é obrigatório; <i class="bi bi-search"></i>: permite busca </small>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <label for="entity-fields" class="label mb-1 text-secondary"><i
                        class="bi bi-server"></i>&nbsp;Campos</label>
                <div class="table-responsive border-top">
                    <table class="table table-hover">
                        <thead>
                            <th class="text-left">Nome</th>
                            <th class="text-center" style="width: 8rem;">Privacidade&nbsp;<i
                                    class="bi bi-lock-fill"></i>
                            </th>
                            <th class="text-center" style="width: 8rem;">Tipo</th>
                            <th class="text-center" style="width: 8rem;">Tamanho</th>
                            <th class="text-left" style="width: 2.5rem;">Null</th>
                            <th class="text-left fw-bold" style="width: 2.5rem;"><i class="bi bi-search"></i></th>
                        </thead>
                        <tbody id="entity-fields-tbody"></tbody>
                    </table>
                </div>
            </div>

            <div class="table-responsive border-top" id="entity-div-input-fields-form" style="display: none;">
                <table class="table table-striped table-hover">
                    <thead>
                        <th class="text-left">Id</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Label</th>
                        <th class="text-center">Valor Inicial</th>
                        <th class="text-center">Obrigatório</th>
                        <th class="text-center">Placeholder</th>
                        <th class="text-center">Formatador</th>
                        <!-- #issue: implantar para ser AAA -->
                        <!-- https://ceweb.br/cartilhas/cartilha-w3cbr-acessibilidade-web-fasciculo-IV/ -->
                        <th class="text-center">wcag&nbsp;<i class="bi bi-emoji-smile"></i></th>
                    </thead>
                    <tbody id="entity-fields-form-tbody"></tbody>
                </table>
            </div>
        </form>
    </div>

</div>
<script>

    (() => {

        document.getElementById('entity-btn-add').addEventListener('click', (event) => {

            event.preventDefault()

            // this namespace
            let dom = {

                "div": {
                    "main": document.getElementById('entity-div'),
                    "create": document.getElementById('entity-div-create'),
                    "input": {
                        "name": document.getElementById('entity-div-input-name'),
                        "namespace": document.getElementById('entity-div-input-namespace'),
                        "fields": document.getElementById('entity-div-input-fields')
                    }
                },

                "input": {
                    "name": document.getElementById('entity-input-name'),
                    "namespace": document.getElementById('entity-input-namespace'),
                    "tBodyFields": document.getElementById('entity-fields-tbody')
                }
            }
                , div = dom.div
                , input = dom.input
                , enterPressed = false
                , nameIsValid = false
                , namespaceIsValid = false

            div.main.style.display = 'block'
            div.create.style.display = 'block'
            div.input.name.style.display = 'block'
            input.name.focus()
            input.name.addEventListener('keypress', (event) => {

                enterPressed = event.charCode === 13

                if (enterPressed) {

                    event.preventDefault()
                    enterPressed = false

                    // #issue: pesquisar no banco entidade com mesmo nome a partir do terceiro caracter digitado
                    // #issue: não sei usar regex em 202109140107
                    nameIsValid = input.name.value.length > 3

                    if (nameIsValid) {

                        div.input.namespace.style.display = 'block'
                        input.namespace.focus()
                        input.namespace.addEventListener('keypress', (event) => {

                            enterPressed = event.charCode === 13

                            if (enterPressed) {

                                event.preventDefault()
                                enterPressed = false

                                // #issue: não sei usar regex em 202109140107
                                namespaceIsValid = input.namespace.value.length >= 3

                                if (namespaceIsValid) {

                                    div.input.fields.style.display = 'block'

                                    try {

                                        let namespaceValue = input.namespace.value
                                            , arrNamespace = namespaceValue.split(',')

                                        input.tBodyFields.innerHTML = helperTbody(arrNamespace)

                                    } catch (err) {

                                        alert('Erro', err, 'danger')

                                    }

                                } else {

                                    div.input.fields.innerHTML = ''
                                    input.namespace.value = ''
                                    div.input.namespace.style.display = 'none'
                                    div.input.fields.style.display = 'none'
                                    input.name.focus()

                                }
                            }
                        })

                    } else {

                        input.name.value = ''
                        div.input.name.style.display = 'none'
                        div.main.style.display = 'none'

                    }
                }
            }
            )
        })

        function helperTbody(arrNamespace) {

            let fieldname = ''
                , tbodyFieldsHtml = []


            for (i = 0; i < arrNamespace.length; i++) {

                fieldname = arrNamespace[i].toLowerCase().trim()

                tbodyFieldsHtml.push(`<tr>
                                        <td>
                                            <input class="form-control" type="text" id="field-${fieldname}-name-input" entityfieldformtype="text" value="${fieldname}" readonly>
                                        </td>
                                        <td class="text-center" entityfieldformtype="select">
                                            <select class="form-select select-privacy" aria-label="lgpd" id="field-${fieldname}-privacy">
                                                <option value="">Dado:</option>
                                                <option value="pessoal">Pessoal</option>
                                                <option value="comercial">Comercial</option>
                                                <option value="sensivel">Sensível</option>
                                                <option value="publico">Público</option>
                                                <option value="anomatizado">Anonimizado</option>
                                            </select>
                                        </td>
                                        <td class="text-center" entityfieldformtype="select">
                                            <select class="form-select select-type" aria-label="lgpd" id="field-${fieldname}-type">
                                                <option value="">Tipo:</option>
                                                <option value="number">Número</option>
                                                <option value="string">Texto</option>
                                                <option value="date">Data</option>
                                                <option value="boolean">Booleano</option>
                                            </select>
                                        </td>
                                        <td class="text-center" entityfieldformtype="number">
                                        <input type="number" class="form-control" id="field-${fieldname}-length" value="" readonly>
                                        </td>
                                        <td class="text-left mr-o pr-0">
                                            <div class="form-check form-switch pr-0 mr-0 align-middle">
                                                <input class="form-check-input" type="checkbox" id="field-${fieldname}-nullable=input" entityfieldformtype="checkbox">
                                            </div>
                                        </td>
                                        <td class="text-center" id="field-${fieldname}-searcheble">
                                            <div class="form-check form-switch pr-0 mr-0 align-middle">
                                                <input class="form-check-input" type="checkbox" id="field-${fieldname}-searcheble=input" entityfieldformtype="checkbox">
                                            </div>
                                        </td>
                                    </tr>`)
            }

            return tbodyFieldsHtml.join('')
        }

    })()

</script>