<div class="nav flex-column tab-pane mb-5" id="v-pills-dev" role="tabpanel" aria-labelledby="v-pills-dev-tab">
    <div class="alert alert-warning alert-dismissible show" role="alert">
        <strong><i class="bi bi-terminal"></i>&nbsp;&nbsp;Dev</strong> <small> : requer permissão [<strong>dev</strong>]</small>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container-alert"></div>
    
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="entities-tab" data-bs-toggle="tab" data-bs-target="#entities"
                type="button" role="tab" aria-controls="entities" aria-selected="true"><i class="bi bi-box"></i>&nbsp;&nbsp;Entidades</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="der-tab" data-bs-toggle="tab" data-bs-target="#der" type="button"
                role="tab" aria-controls="der" aria-selected="false"><i class="bi bi-bounding-box"></i>&nbsp;&nbsp;Relacionamentos</button>
        </li>
    </ul>
    
    <div class="tab-content" id="tab-tools">
        <%-include ./tools-dev-entities-inc.ejs %>
        <%-include ./tools-dev-der-inc.ejs %>
    </div>

</div>