<div class="tab-pane mt-3" id="der" role="tabpanel" aria-labelledby="der-tab" id="der">
    <div class="alert alert-info alert-dismissible show" role="alert">
        <i class="bi bi-bounding-box"></i>&nbsp;&nbsp;Entidades de <strong>relacionamento</strong> são as <strong>regras de negócios</strong> das políticas da empresa
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container-alert"></div>
<p>Exemplos:</p>
<ul>
    <li>Relações de Pessoa com Curso: aluno, professor, coordenador, etc</li>
    <li>Relações de Pessoa com Escola: aluno, professor, coordenador, diretor, etc</li>
    <li>Relações de Pessoa com Conteúdo: autor, revisor, leitor, etc</li>
    <li>Por <b>Processo Seletivo</b> podemos chamar uma entidade que relaciona Pessoa, Escola e Curso.</li>
    <li>Professor é uma relação entre Pessoa, Escola, Curso, Disciplina, Turma.</li>
    <li>Coordenador é uma relação entre Pessoa e Curso.</li>
</ul>
</div>

