<div class="nav flex-column tab-pane fade" id="v-pills-dev" role="tabpanel" aria-labelledby="v-pills-dev-tab">
    <div class="container-alert"></div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="entities-tab" data-bs-toggle="tab" data-bs-target="#entities" type="button"
                role="tab" aria-controls="entities" aria-selected="true">Entidades</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="groups-tab" data-bs-toggle="tab" data-bs-target="#groups" type="button"
                role="tab" aria-controls="groups" aria-selected="false">Agrupamentos</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active mt-3" id="entities" role="tabpanel" aria-labelledby="entities-tab">Entidades</div>
        <div class="tab-pane fade mt-3" id="groups" role="tabpanel" aria-labelledby="groups-tab">Agrupamentos</div>
    </div>
</div>