<div class="tab-pane fade" id="nav-terminal" role="tabpanel" aria-labelledby="nav-terminal-tab">
    <div class="container">
        <h4><i class="bi bi-terminal"></i>&nbsp;&nbsp;Sql Server</h4>
    </div>
    <hr>
    <div class="container container-alert"></div>
    <div class="container form-group">
        <form class="form-group">
            <label for="text-area-query">Query</label>
            <textarea class="form-control font-monospace border rounded bg-light" id="text-area-query"
                style="height: 16rem;"></textarea>
            <button class="form-control btn btn-lg btn-success mt-2" id="runsql">Rodar <i
                    class="bi bi-play-btn"></i></button>
        </form>
    </div>
    <div class="container mt-3" id="sql-return"></div>
</div>