<!-- Footer -->
<footer class="page-footer font-small bg-primary">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Eliana Pacco | 
      <a href="https://escola.pro.br" class="text-secondary"> escola.pro.br</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->