<div class="modal fade" id="modalContato" tabindex="-1" role="dialog" aria-labelledby="modalContatoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
            <h5 class="h3 text-primary text-center" id="modalContatoLabel"><strong>Contato</strong></h5>
        </div>
        <div class="modal-body form-group" id="divFormContato">
            <p>
                <form method="GET" id="formContato" name="formContato" style=" display: block;">
                    <label class="mt-4" for="nome">Nome</label>
                    <input class="form-control" type="text" id="nomeContato" placeholder="Informe seu nome completo" required>
                    <label class="mt-4" for="nome">E-mail</label>
                    <input class="form-control" type="email" id="emailContato" placeholder="Informe seu melhor e-mail" required>
                    <label class="mt-4" for="mensagem">Mensagem</label>
                    <textarea class="form-control" id="mensagemContato" rows="3" placeholder="Sua mensagem" required></textarea>
                </form>
            </p>
            <p class="mt-4">Você também pode enviar e-mail para <a class="text-dark" href="mailto: pedro@alvesesilva.com.br">pedro@alvesesilva.com.br</a> ou nos chamar no WhatsApp em (11) 99841-7175.</p>
        </div>
        <div class="modal-body" id="divMsgContato" style=" display: none;"></div>
        <div class="modal-footer">
            <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Fechar</button>
            </div>
            <div class="divider"></div>
            <div class="right-side">
            <button type="button" class="btn btn-success btn-link" onclick=" gravaContato(this); " id="btnEnviar">Enviar</button>
            </div>
        </div>
        </div>
    </div>
</div>
<script>

    function gravaContato(btn){

        let nome, email, mensagem;
            
        nomeContato = document.getElementById("nomeContato").value;
        emailContato = document.getElementById("emailContato").value;
        mensagemContato = document.getElementById("mensagemContato").value;

        let erro = false;
        if(nomeContato.length < 3){ erro = true; }
        if(emailContato.length < 6){ erro = true; }
        if(mensagemContato.length < 2){ erro = true; }

        if(erro){

            alert('Preencha todos os campos.');
            return;

        }

        let rota = "/api/curso/contato/insert/"+ "?nome="+ nomeContato +"&email="+ emailContato +"&mensagem="+ mensagemContato;

        $.ajax({
                url: rota,
                type: 'get',
                beforeSend: function() {
                    btn.innerHTML = "Aguarde...";
                }
            })

            .done(function(resNode) {

                if(resNode){

                    let formContato = document.getElementById('divFormContato');
                        formContato.style.display = "none";

                    let divMsgContato = document.getElementById('divMsgContato');
                        divMsgContato.style.display = "block";
                        divMsgContato.innerHTML = '<span class="h3">'+ nomeContato.toUpperCase() +', obrigado pelo contato. Em breve daremos retorno.</span>';

                        btn.innerHTML = "";

                }
                
            })
            
            .fail(function(jqXHR, textStatus, resNode) {
                btn.innerHTML = "Enviar";
                alert('Ocorreu um erro. Tente novamente.');
            });

            }

</script>