<!doctype html>
<html lang="pt-br">
<%-include parts/head.ejs %>
  <body>
    <main>
      <h1 class="visually-hidden">Ãrea Administrativa Persona360</h1>
        <%- parts/nav.adm %>
    </main>
    <%- parts/js %>
  </body>
</html> 