<% // server return %>
    <!doctype html>
    <html lang="pt-br">
    <%-include ./blocks/head.ejs %>

        <body>
            <%-include ./blocks/nav.ejs %>
                <main class="flex">
                    <div class="container" id="main-aes">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-lg" type="button" id="btnCreate">
                                Create
                            </button>
                        </div>
                    </div>
                </main>
                <%-include ./blocks/javascript.ejs %>
        </body>

    </html>
    <% // end server return %>