<!doctype html>
<html lang="pt-br">
<%-include ./blocks/head.ejs %>
<body>
    <%-include ./blocks/nav.ejs %>
    <main class="flex">
    <%-include ./blocks/model.ejs %>
    </main>
    <%-include ./blocks/javascript.ejs %>
</body>
</html>