<!doctype html>
<html lang="pt-br">
{{>./parts/head }}
  <body>
    <main>
      <h1 class="visually-hidden">Área Administrativa Persona360</h1>
        {{>./parts/nav.adm }}
        <div class="container" id="main"></div>
    </main>
    {{>./parts/js }}
  </body>
</html> 