<!doctype html>
<html lang="pt-br">
<% include ./parts/head.ejs %>
  <body>
    <main>
      <h1 class="visually-hidden">Ãrea Administrativa Persona360</h1>
        <% include ./parts/nav.adm.ejs %>
    </main>
    <% include ./parts/js.ejs %>
  </body>
</html> 