<!doctype html>
<html lang="en">
<% include ../template/parts/head.ejs %>
  <body>
    <main>
      <h1 class="visually-hidden">Ãrea Administrativa Persona360</h1>
        <% include ../template/parts/nav.adm.ejs %>
        <% include main.ejs %>
    </main>
    <% include ../template/parts/js.ejs %>
  </body>
</html> 