<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <nav class="nav p-2" style="background-color: #035700; ">
    <div class="container-fluid">
      <a href="#nav-dock-tops" class="mx-2" href="#offcanvasExample" data-bs-dismiss="offcanvas" aria-label="Close">
        <img src="assets/images/arte-e-software-cubo-branco.svg" height="30rem"></a>
    </div>
  </nav>
  <div class="offcanvas-body">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Entidade
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p><a class="list-group-item list-group-item-action" href="#tag-entity-name">Mostrar Entidade</a></p>
            <p>Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code> class. This is the first item's accordion body.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Propriedades
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p><a class="list-group-item list-group-item-action" href="#tag-entity-namespace">Mostrar Propriedades</a>
            </p>
            <p>Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being
              filled with some actual content.
            </p>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Configurações
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p><a class="list-group-item list-group-item-action" href="#tag-entity-fields">Mostrar Configurações</a></p>
            <p>Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
              happening here in terms of content, but just filling up the space to make it look, at least at first
              glance, a bit more representative of how this would look in a real-world application.
            </p>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <form class="d-flex">
          <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">
          <button class="btn btn-outline-success mx-2" type="submit">Pesquisar</button>
        </form>
      </div>
    </nav>
  </div>
</div>