<div class="offcanvas fade offcanvas-top text-white shadow" tabindex="-1" id="aes-help-dock"
    aria-labelledby="aes-helpLabel"
    style="background-color: #000000; border-bottom: 1px solid #000000; border-top: 2px solid #b3ff00; opacity: 0.75; height: 100%;">
    <div class="offcanvas-body">
        <nav class="nav fixed-top p-2">
            <div class="container-fluid">
                <button data-bs-toggle="offcanvas" data-bs-dismiss="#aes-help-dock" role="button"
                    aria-controls="aes-help-dock" class="btn btn-sm btn-success"><i class="bi bi-x-circle"></i></button>
            </div>
        </nav>
        <div class="container-fluid text-white pt-5">
            
        </div>
    </div>
</div>