<div class="offcanvas fade offcanvas-top text-white" tabindex="-1" id="aes-help-dock" aria-labelledby="aes-helpLabel"
    style="background-color: #000000; border-bottom: 1px solid #ff9500; height: 500px; opacity: 0.75;">
    <div class="offcanvas-body">
        <nav class="nav fixed-top p-2">
            <div class="container-fluid">
                <a href="/framework"><img src="assets/images/arte-e-software-cubo-branco.svg" height="30rem"></a>
            </div>
        </nav>
    </div>
</div>