<!-- @format -->

<div class="tab-pane mt-3" id="entity-manager" role="tabpanel" aria-labelledby="entity-manager-tab" id="entity-manager">
	<div class="alert alert-secondary alert-dismissible show" role="alert">
		<strong><i class="bi bi-bounding-box"></i>&nbsp;&nbsp;Gerenciar entidades</strong
		><small> [<strong>tools-dev-entity-manager</strong>]</small>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="container-alert"></div>
</div>
