<div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Conhecer</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">As duas perguntas elementares do momento conhecer são:</p>
      <p class="lead mb-4">Que escola é a minha?</p>
      <p class="lead mb-4">Qual aluno minha escola busca ter?</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Como os alunos que eu busco ter buscam por escolas como a minha?</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
  </div>
  <script>

   let Proprietario = () =>
   {
     return {};
   }



  </script>