<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Framework aes. para NodeJs</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/">



    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-image: url("assets/images/estrutura-aes-fw.svg");
            background-size: cover;
            background-color: black;
        }
    </style>

</head>

<body style="opacity: .5;">

    <main>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">

                </div>
                <div class="col-lg-6 p-5">
                    <h1 class="display-3 fw-bold lh-1 mb-3 text-white">Sua próxima área de trabalho.</h1>
                    <p class="lead text-light">
                        <figure class="text-light">
                            <blockquote class="blockquote">
                                <p>Programar é uma bela arte, dramática e divertida ao mesmo tempo [risos].</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Pedro Silva, <cite title="Source Title">criador do aes.framework</cite>
                            </figcaption>
                        </figure>
                        <p class="fw-bold text-info"></p>
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
                        <a href="/framework" class="btn btn-primary">aes.framework 1.0.alpha</a>
                    </div>
                    <p><a class="text-white" href="mailto: aes.tec.br@gmail.com">aes.tec.br@gmail.com</a></p>
                </div>
            </div>
        </div>

        </div>


    </main>


    <script src="assets/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>